.footer {

    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    
    
    

  }
  
  .footer p {
    color: white;
    font-size: 20px;
    padding-bottom: 60px;
  }